In [2]:
import pandas as pd

In [11]:
fpath = './data/raw/thaipbs/thaipbs-111_final.csv'
df = pd.read_csv(fpath)
df.head()

,title,body,summary,labels,tags,url
0,นักวิจัยออสเตรเลียเผยสาเหตุฉลามโจมตีมนุษย์,นายนาธาน ฮาร์ท หัวหน้าทีมวิจัยจากมหาวิทยาลัยเว...,ทีมนักวิจัยออสเตรเลียศึกษาว่าเหตุใดฉลามถึงจู่...,ต่างประเทศ,"ฉลาม,นักวิจัย,มนุษย์,ออสเตรเลีย,แมวน้ำ,โจมตี",https://news.thaipbs.or.th/content/1
1,"""จีทีเอช"" สั่งพักงาน-งดใช้โซเชียลมีเดียชั่วครา...",เมื่อเวลาประมาณ 16.30 น.วันนี้ (8 เม.ย.2558) เ...,จีทีเอชและนาดาวบางกอก บริษัทต้นสังกัดนักแสดงซ...,ศิลปะ-บันเทิง,"GTH,จีทีเอช,นักแสดงฮอร์โมนเต้นในรถไฟฟ้าญี่ปุ่น...",https://news.thaipbs.or.th/content/5
2,"""ธชตวัน"" ประกาศลาออกจากกุนซือกัลฟ์ สระบุรี จาก...",การประกาศลาออกจากตำแหน่งกุนซือ กัลฟ์ สระบุรี เ...,ธชตวัน ศรีปาน ประกาศลาออกจากตำแหน่งหัวหน้าผู้...,กีฬา,"กัลฟ์ สระบุรี,กุนซือ,ธชตวัน,ธชตวัน ศรีปาน,ฟุตบ...",https://news.thaipbs.or.th/content/3
3,ตำรวจตุรกีจับผู้ต้องสงสัยยิงรถนักเตะสโมสรเฟเนบ...,เจ้าหน้าที่ตำรวจในประเทศตุรกียืนยันว่าได้จับกุ...,หลังเกิดเหตุลอบยิงรถนักเตะสโมสรเฟเนบาห์เชขณะเ...,กีฬา,"ข่าว16.00,ข่าวต่างประเทศ,ยิงรถสโมสร,ลีกตุรกี,เ...",https://news.thaipbs.or.th/content/4
4,สหรัฐฯประกาศสนับสนุนญี่ปุ่นและชาติพันธมิตรหากถ...,นายแอชตัน คาร์เตอร์ รัฐมนตรีว่าการกระทรวงกลาโห...,สหรัฐอเมริกาประกาศจุดยืนสนับสนุนญี่ปุ่นและชาต...,ต่างประเทศ,"Camp Schwab,ชินโสะ อาเบะ,ญี่ปุ่น,บารัค โอบามา,...",https://news.thaipbs.or.th/content/2

In [12]:
with open(fpath, 'r') as f:
    for i, line in enumerate(f):
        if i > 2: break
        print(line)

title,body,summary,labels,tags,url

นักวิจัยออสเตรเลียเผยสาเหตุฉลามโจมตีมนุษย์,นายนาธาน ฮาร์ท หัวหน้าทีมวิจัยจากมหาวิทยาลัยเวสเทิร์น ออสเตรเลีย เปิดเผยว่า ทีมวิจัยได้สังเกตพฤติกรรมของแมวน้ำในศูนย์ทดลองของสวนสัตว์ทารองก้าในนครซิดนีย์ เพื่อศึกษาพฤติกรรมของฉลามว่าเพราะเหตุใดจึงโจมตีมนุษย์แทนที่จะเป็นแมวน้ำหรือสิงโตทะเล ซึ่งเป็นเหยื่อตามธรรมชาติของฉลามทีมนักวิจัยได้ทำการทดลองโดยบันทึกภาพและเสียงจากการว่ายน้ำของแมวน้ำ เพื่อจำลองถึงสิ่งที่ฉลามมองเห็นและได้ยินจากใต้น้ำ โดยการทดลองดังกล่าวแสดงให้เห็นว่า ภาพของมนุษย์บนกระดานโต้คลื่นที่ฉลามมองเห็นนั้นคล้ายกับภาพของแมวน้ำจึงทำให้ฉลามเข้าใจผิดและเข้าจู่โจมมนุษย์ทีมนักวิจัยจะนำผลการทดลองที่ได้ไปพัฒนาอุปกรณ์เพื่อป้องกันการจู่โจมของฉลาม เช่น การติดตั้งแสงไฟให้กับกระดานโต้คลื่น โดยทีมนักวิจัยจะนำวิธีการนี้ไปทดลองใช้กับฉลามขาวในแอฟริกาใต้ต่อไปในปลายปีนี้ , ทีมนักวิจัยออสเตรเลียศึกษาว่าเหตุใดฉลามถึงจู่โจมมนุษย์ โดยการสังเกตพฤติกรรมของแมวน้ำ ซึ่งเป็นเหยื่อตามธรรมชาติของฉลาม,ต่างประเทศ,"ฉลาม,นักวิจัย,มนุษย์,ออสเตรเลีย,แมวน้ำ,โจมตี",https://news.thaipbs.or.th/content/1

"""จีทีเอช"" สั่งพักงาน-งดใช้โซเชียลมีเดียชั่วคราว นักแสดงซีรีส์ฮอร์โมน เต้นในรถไฟใต้ดินญี่ปุ่น ",เมื่อเวลาประมาณ 16.30 น.วันนี้ (8 เม.ย.2558) เพจเฟซบุ๊ก GTH ซึ่งเป็นแฟนเพจของบริษัท จีเอ็มเอ็ม ไท หับ จำกัด หรือจีทีเอช ต้นสังกัดของนักแสดงวัยรุ่นจากซีรีส์ฮอร์โมน ซึ่งมีกรณีเผยแพร่คลิปเต้นในรถไฟฟ้าใต้ดินของประเทศญี่ปุ่นเมื่อปลายสัปดาห์ที่ผ่านมา ซึ่งทางจีทีเอชได้แถลงแสดงความเสียใจไปแล้วนั้น วันนี้จีทีเอชและบริษัท นาดาว บางกอก จำกัด ได้มีบทลงโทษนักแสดง โดยได้แถลงว่าการกระทำที่เกิดขึ้นถือเป็นการไม่เหมาะสมเพราะขัดกับข้อควรปฏิบัติในการใช้รถไฟใต้ดินในประเทศญี่ปุ่นที่อาจนำมาซึ่งความเสื่อมเสียถึงประเทศไทยได้แถลงการณ์ระบุว่าจากการกระทำที่คึกคะนองขาดการยั้งคิดของนักแสดง ซึ่งอาจจะสร้างความเสียหายแก่ภาพพจน์ของประเทศไทย แม้นักแสดงทั้ง 5 คน จะสำนึกผิด และออกมากล่าวขอโทษกับสิ่งที่เกิดขึ้นไปแล้ว แต่ผู้ปกครองของนักแสดงทุกคนได้เข้ามาหารือร่วมกับบริษัทฯ ถึงบทลงโทษที่ควรจะมีเพื่อจะได้ไม่เป็นแบบอย่างที่ไม่ดีแก่เยาวชนทั่วไปและเพื่อให้ทุกคนทบทวนและปรับปรุงสิ่งที่ได้กระทำลงไป โดยทางบริษัทและผู้ปกครองได้มีข้อสรุปร่วมกัน ซึ่งมีบทลงโทษแตกต่างกัน ได้แก่ ตั้ว - เสฎฐวุฒิ อนุสิทธิ์ เจมส์ - ธีรดนย์ ศุภพันธุ์ภิณโญ เกศ-ผกามาศ กาญจนบุรางกูร พักการรับงานจากบริษัทฯ และ งดใช้สื่อ social media ทุกชนิดเป็นเวลา 3 เดือนขณะที่ ท๊อป- ณภัทร โชคจินดาชัย และ ปันปัน-สุทัตตา อุดมศิลป์ ในฐานะที่เป็นนักแสดงรุ่นพี่ที่ทำงานในวงการบันเทิงมาก่อน จึงควรเรียนรู้ในการแสดงออกอย่างเหมาะสมในที่สาธารณะ และไม่แนะนำหรือตักเตือนรุ่นน้องให้เหมาะสม จึงถูกพักการรับงานจากบริษัทฯ และ งดใช้สื่อ social media ทุกชนิดเป็นเวลา 6 เดือน ทั้งนี้ทางบริษัทได้ประสานไปยังสถานทูตไทย ณ. กรุงโตเกียว ประเทศญี่ปุ่นเพื่อทำจดหมายขอโทษถึงคนญี่ปุ่น คนไทยในประเทศญี่ปุ่น และ คนไทยทั้งประเทศ รวมทั้งถ่ายทำคลิปขอโทษของนักแสดงกลุ่มดังกล่าวส่งถึงทางสถานทูตฯ เป็นที่เรียบร้อยแล้วเพื่อแสดงความเสียใจและขออภัยกับเหตุการณ์ที่เกิดขึ้น , จีทีเอชและนาดาวบางกอก บริษัทต้นสังกัดนักแสดงซีรีส์ฮอร์โมนวัยว้าวุ่น มีบทลงโทษนักแสดงวัยรุ่น 5 คน กรณีเผยแพร่คลิปพฤติกรรมอันไม่สุภาพบนรถไฟสาธารณะที่ประเทศญี่ปุ่น โดยสั่งพักรับงานรับงานจากบริษัทฯ และ งดใช้สื่อ social media ทุกชนิดเป็นเวลา 3-6 เดือน โดยทางตันสังกัดได้ประสานไปยังสถานทูตไทยในกรุงโตเกียว ประเทศญี่ปุ่นเพื่อทำจดหมายขอโทษถึงคนญี่ปุ่นถึงกรณีดังกล่าว,ศิลปะ-บันเทิง,"GTH,จีทีเอช,นักแสดงฮอร์โมนเต้นในรถไฟฟ้าญี่ปุ่น,นาดาวบางกอก,ฮอร์โมน",https://news.thaipbs.or.th/content/5

In [10]:
fpath = './data/raw/wongnai/w_review_train.csv'
df = pd.read_csv(fpath, sep=';', header=None, names=['review', 'star'])

with open(fpath, 'r') as f:
    for i, line in enumerate(f):
        if i > 2: break
        print(line)
    
df.head()

"ร้านอาหารใหญ่มากกกกกกก

เลี้ยวเข้ามาเจอห้องน้ำก่อนเลย เออแปลกดี

ห้องทานหลักๆอยู่ชั้น 2 มีกาแฟ น้ำผึ้ง ซึ่งก็แค่เอาน้ำผึ้งมาราด แพงเวอร์ อย่าสั่งเลย

                                              review  star
0  ร้านอาหารใหญ่มากกกกกกก \nเลี้ยวเข้ามาเจอห้องน้...     3
1  อาหารที่นี่เป็นอาหารจีนแคะที่หากินยากในบ้านเรา...     4
2  ปอเปี๊ยะสด ทุกวันนี้รู้สึกว่าหากินยาก (ร้านที่...     3
3  รัานคัพเค้กในเมืองไทยมีไม่มาก หลายๆคนอาจจะสงสั...     5
4  อร่อย!!! เดินผ่านDigital gatewayทุกวัน ไม่ยักร...     5

In [9]:
fpath = './data/processed/wongnai/wongnai_cleaned.csv'
# fpath = './data/processed/tscc/tscc_cleaned.csv'

with open(fpath, 'r') as f:
    for i, line in enumerate(f):
        if i > 2: break
        print(line)

df = pd.read_csv(fpath)
df.head()

review;star

"ร้านอาหารใหญ่มากกกกกกก

เลี้ยวเข้ามาเจอห้องน้ำก่อนเลย เออแปลกดี

ParserError: Error tokenizing data. C error: Expected 1 fields in line 107, saw 2

In [8]:
import pandas as pd

train_df = pd.read_csv('./data/processed/tscc/tscc_full/train/train.csv')
valid_df = pd.read_csv('./data/processed/tscc/tscc_full/valid/valid.csv')
test_df = pd.read_csv('./data/processed/tscc/tscc_full/test/test.csv')

train_labels = train_df['label'].value_counts()
valid_labels = valid_df['label'].value_counts()
test_labels = test_df['label'].value_counts()


print(len(train_df))
print(len(valid_df))
print(len(test_df))


print(len(train_labels))
print(len(valid_labels))
print(len(test_labels))

print(sorted(train_labels.keys()))
print(sorted(valid_labels.keys()))
print(sorted(test_labels.keys()))

774
97
97
31
28
23
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 26, 27, 28, 29, 30]
[0, 1, 2, 4, 5, 6, 7, 8, 10, 11, 13, 14, 15, 16, 17, 19, 20, 21, 22, 24, 25, 26, 27]

In [9]:
labels = list(valid_df['label'].values)
unique_labels = set()
unique_labels.update(labels)

print(unique_labels)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 26, 27, 28, 29, 30}